.testimonials {
  position: relative;
  margin-top: -15px;

  @media only screen and (max-width: $laptop-width) {
    margin-left: -20px;
    margin-right: -20px;
    min-height: 447px;
  }
}

.testimonials__image {
  @media only screen and (max-width: $laptop-width) {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.testimonials__wrapper {
  position: absolute;
  top: 50%;
  right: -270px;
  max-width: 382px;
  padding: 30px 30px 20px;
  background-color: $color-quaternary;
  transform: translateY(-51%);

  @media only screen and (max-width: $laptop-width) {
    position: initial;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 85px;
    text-align: left;
    transform: translateY(0);
  }
}

.testimonials__header {
  position: relative;
  margin-bottom: 35px;
  font-weight: 500;
  color: $color-primary;
  letter-spacing: -0.691667px;

  &::before {
    @media only screen and (max-width: $laptop-width) {
      bottom: -12px;
      width: 68px;
      height: 1px;
      position: absolute;
      content: "";
      left: 0;
      background-color: $color-accent-primary;
    }
  }

  @include font-size-xxl;
  @include header-underline;

  &::after {
    width: 68px;
    height: 1px;
    bottom: -10px;
  }
}

.testimonials__text {
  margin-bottom: 35px;

  @include font-size-xxs;
  line-height: 28px;

  @media only screen and (max-width: $laptop-width) {
    margin-bottom: 27px;
    letter-spacing: -0.408333px;
  }
}

.testimonials__client {
  display: flex;
  align-items: center;
}

.testimonials__avatar {
  margin-right: 17px;
  border-radius: 50%;
}

.testimonials__name {
  color: $color-primary;
  line-height: 20px;
  letter-spacing: -0.466667px;
}
