@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff"), url("../fonts/montserrat-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff"), url("../fonts/montserrat-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  color: $text-color;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  box-sizing: border-box;
}

h2 {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  color: $color-primary;

  @media only screen and (max-width: $laptop-width) {
    font-size: 30px;
    line-height: 150%;
  }
}

.container {
  position: relative;
  max-width: 1170px;
  flex-grow: 1;
  margin-right: auto;
  margin-left: auto;

  @media only screen and (max-width: $laptop-width) {
    width: 100%;
    padding: 0 20px;
  }
}
