$color-primary: #141517;
$color-secondary: #2C2E3F;
$color-tertiary: #FBF8F8;

$color-accent-primary: #FE7865;
$color-accent-secondary: #F17D4B;

$text-color: rgba(44, 46, 63, 0.7);

$font-family: "Montserrat", "Arial", sans-serif;

$transition-base: 0.2s;
